.container {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  height: 100vh;
  background-image: url("https://e0.pxfuel.com/wallpapers/321/144/desktop-wallpaper-banner-background-abstract-png-full-corporate.jpg");
  background-size: cover;
}

.connectButton,
.actionButton {
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.actionButton:hover {
  background-color: #0056b3;
}

.buttonContainer {
  margin-top: 20px;
}

.amountInput {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.balance {
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}

.transactionHistory {
  margin-top: 20px;
  text-align: left;
}

.transactionHistory h2 {
  margin-bottom: 10px;
}

.transactionHistory ul {
  list-style-type: none;
  padding: 0;
}

.transactionHistory li {
  margin-bottom: 5px;
}
